.about__us {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
    background-image: url('../../assets/img/about_bg.png');
    background-repeat: no-repeat;
    background-size: 110vh 100vh;
}

.about__right {
    align-self: center;
    width: 45%;
}

.about__header {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.about__paragraph {
    color: #666666;
    font-family: "Roboto", sans-serif;
    line-height: 1.929;
    font-size: 1rem;
    color: #888888;
}

.about__adv {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 0 5rem
}

.adv__info {
    width: 3rem;
}

.about__adv li {
    list-style: none;
    text-align: center;
    line-height: 3rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#adv__center {
    width: 40%;
    border-right: 1px solid rgb(233, 225, 225);
    border-left: 1px solid rgb(233, 225, 225);
}