.footer {
    width: 100%;
    background-color: #0d1820;
    padding: 26px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    clear: both;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 10%;
    cursor: pointer;
}