* {
    margin: 0;
}

.doctors {
    max-width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.card__img {
    height: 18rem;
}