* {
    margin: 0;
}

.reservation {
    display: flex;
    height: 112vh;
    justify-content: space-around;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
    background-image: url(../../assets/img/banner_bg.png);
    font-family: "Roboto", sans-serif;
    padding-top: 8rem;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.reservation__box {
    width: 40%;
    align-items: center;
    padding-left: 5rem;
}

.resBtn {
    padding: 16px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    background-size: 200% auto;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(to right, #004ef7, #82b7f8, #c0d2f7);
}

.resBtn:hover {
    background-image: linear-gradient(to right, #87b6f0, #0a56ee, #95b3f0);
    color: white;
}

.reservation__img {
    padding: 5rem;
    width: 50rem;
}

.res_paragraph {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    color: #242429;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

.res_heder {
    text-align: left;
    text-transform: capitalize;
    font-weight: 700;
    color: #242429;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.detail__paragraph {
    font-size: 15px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    color: #242429;
    padding-right: 20px;
}

.res__phone {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: #242429;
    padding-bottom: .2rem;
}